@tailwind base;
@tailwind components;
@tailwind utilities;

.nav__section{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.image {
	padding-top: 100%;
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
  }
  
  .image img {
	position: absolute;
	top: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
	height: 100%;
  }
  
  .image img:nth-child(1) {
	-webkit-transform: translateX(-50%) scale(1);
			transform: translateX(-50%) scale(1);
	-webkit-transition: -webkit-transform 0.5s ease;
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }
  
  .image img:nth-child(2) {
	-webkit-transform: translateX(-50%) scale(0);
			transform: translateX(-50%) scale(0);
  }
  
  .image:hover img:nth-child(1) {
	-webkit-transform: translateX(-50%) scale(0);
			transform: translateX(-50%) scale(0);
  }
  
  .image:hover img:nth-child(2) {
	-webkit-transform: translateX(-50%) scale(1);
			transform: translateX(-50%) scale(1);
	-webkit-transition: -webkit-transform 0.5s ease;
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  }