@tailwind base;
@tailwind components;
@tailwind utilities;

.slider_section{
    position: absolute;
	top: 0;
	left: 0;
    background-image: url(./assets/images/toyota_hilux.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}